.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../assets/images/carlos-muza-84523-unsplash.jpg");
  background-size: cover;
  background-position: 50% 0%;
  height: 80vh;
  justify-content: space-between;
  display: flex;
  color: rgb(14, 13, 13);
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
/* background-color: rgb(216, 25, 73);
  background-position: 0% 0%;
  background-size: middle;
  height: 80vh;
  justify-content: flex-start;
  display: flex;
  color: rgb(14, 13, 13);
  padding: 70px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40;
} */
nav {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
}

nav a {
  color: white;
}

nav svg {
  display: none;
}

.page-container {
  padding: 80px 0;
}

@media (max-width: 600px) {
  nav svg {
    display: flex;
  }
}

/* Footer */

/*
.social i{
    color: red;
    font-size: 20px;
}
*/
@media screen and (max-width: 768px) {
  .section-1 .card {
    width: 14rem;
  }
  .section-4 .col-md-7 img {
    width: 350px;
  }
}
@media screen and (max-width: 320px) {
  .site-content .site-title {
    font-size: 30px;
    padding-left: 15%;
  }
  .site-content .site-btn-2 {
    display: none;
  }
  .site-content .site-btn1 {
    margin-left: 15%;
  }
  .section-1 .heading-1,
  .section-1 .heading-2 {
    font-size: 25px;
  }
  .section-1 .col-md-4 {
    padding: 5%;
    margin-left: 8%;
  }
  .section-1 .card {
    width: 15rem;
  }
  .section-4 .col-md-5 {
    padding: 0% 15%;
  }
  footer input[type="button"] {
    margin-top: 5%;
  }
}
/*     Contact Form   */

.form-1 {
  background: url(images/gilberto-parada-423754-unsplash.jpg) no-repeat top
    center;
  background-size: cover;
  height: 100vh;
}
.wrapper-2 {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
.msg textarea {
  height: 212px;
}
::-webkit-input-placeholder {
  color: #c5ecfd;
}
::-moz-input-placeholder {
  color: #c5ecfd;
}
::-ms-input-placeholder {
  color: #c5ecfd;
}
.btn {
  background: #3f3f3f;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #c5ecfd;
  cursor: pointer;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
