.hero {
  background-color: rgb(216, 25, 73);
  background-position: 0% 0%;
  background-size: middle;
  height: 80vh;
  justify-content: flex-start;
  display: flex;
  color: rgb(14, 13, 13);
  padding: 70px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40;
}
