.jumbotron {
  /* background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../assets/images/carlos-muza-84523-unsplash.jpg");
  background-size: cover;
  background-position: 50% 0%;
  height: 80vh;
  justify-content: space-between;
  display: flex;
  color: rgb(14, 13, 13);
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px; */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/photo-1554215860-863c77aa9c64.jfif");

  background-color: rgb(216, 25, 73);
  background-position: 0% 0%;
  background-size: middle;
  height: 80vh;
  justify-content: flex-start;
  display: flex;
  color: rgb(14, 13, 13);
  padding: 70px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40;
}
nav {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
}

nav a {
  color: white;
}

nav svg {
  display: none;
}

.page-container {
  padding: 80px 0;
}

@media (max-width: 600px) {
  nav svg {
    display: flex;
  }
}
/*     About Page      */

#about {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 101px;
  height: 1000px;
}
.about-right {
  margin-left: 100px;
}

#about .triangle-right {
  margin-top: 95px;
  width: 400px;
  height: 400px;
  border-top: 259px solid transparent;
  border-left: 470px solid #d6c6b2;
  border-bottom: 259px solid transparent;
}
#about .triangle-right img {
  position: absolute;
  left: -1px;
  top: 81px;
  width: 74%;
}
.fa-play {
  font-size: 100px;
}
#about .p-first {
  margin-bottom: 30px;
}
#about h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}
#about .social-link-text {
  margin-top: 15px;
  margin-bottom: 20px;
}
#about .about-link {
  padding-left: 0px;
}
#about .about-link li {
  display: inline-block;
}
#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #d6c6b2;
  margin-right: 10px;
  font-size: 22px;
  color: #d6c6b2;
  transition: all 0.3s;
}
#about .about-link li a i:hover {
  color: #222222;
  background: #d6c6b2;
  border-color: #d6c6b2;
}
#about .about-img {
  position: relative;
}
#about .about-img {
  position: relative;
}
#about .about-img .man {
  position: absolute;
  bottom: 161px;
  top: 12px;
  left: -2px;
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-top: opx;
}
.color-3 {
  color: #d6c6b2;
}
.text-white {
  color: white;
}
p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #d6c6b2;
}
.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}

/*     About Page      */

#about {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 101px;
  height: 1000px;
}
.about-right {
  margin-left: 100px;
}

#about .triangle-right {
  margin-top: 95px;
  width: 400px;
  height: 400px;
  border-top: 259px solid transparent;
  border-left: 470px solid #d6c6b2;
  border-bottom: 259px solid transparent;
}
#about .triangle-right img {
  position: absolute;
  left: -1px;
  top: 81px;
  width: 74%;
}
.fa-play {
  font-size: 100px;
}
#about .p-first {
  margin-bottom: 30px;
}
#about h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}
#about .social-link-text {
  margin-top: 15px;
  margin-bottom: 20px;
}
#about .about-link {
  padding-left: 0px;
}
#about .about-link li {
  display: inline-block;
}
#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #d6c6b2;
  margin-right: 10px;
  font-size: 22px;
  color: #d6c6b2;
  transition: all 0.3s;
}
#about .about-link li a i:hover {
  color: #222222;
  background: #d6c6b2;
  border-color: #d6c6b2;
}
#about .about-img {
  position: relative;
}
#about .about-img {
  position: relative;
}
#about .about-img .man {
  position: absolute;
  bottom: 161px;
  top: 12px;
  left: -2px;
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-top: opx;
}
.color-3 {
  color: #d6c6b2;
}
.text-white {
  color: white;
}
p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #d6c6b2;
}
.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}

/*     Service Page      */

.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover {
  background: #ddd;
}
.service i {
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

/*     Service Page      */

.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover {
  background: #ddd;
}
.service i {
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

/* Footer */

/*
.social i{
    color: red;
    font-size: 20px;
}
*/
@media screen and (max-width: 768px) {
  .section-1 .card {
    width: 14rem;
  }
  .section-4 .col-md-7 img {
    width: 350px;
  }
}
@media screen and (max-width: 320px) {
  .site-content .site-title {
    font-size: 30px;
    padding-left: 15%;
  }
  .site-content .site-btn-2 {
    display: none;
  }
  .site-content .site-btn1 {
    margin-left: 15%;
  }
  .section-1 .heading-1,
  .section-1 .heading-2 {
    font-size: 25px;
  }
  .section-1 .col-md-4 {
    padding: 5%;
    margin-left: 8%;
  }
  .section-1 .card {
    width: 15rem;
  }
  .section-4 .col-md-5 {
    padding: 0% 15%;
  }
  footer input[type="button"] {
    margin-top: 5%;
  }
}
/*     Contact Form   */

/* .form-1 {
  background: url(images/gilberto-parada-423754-unsplash.jpg) no-repeat top
    center;
  background-size: cover;
  height: 100vh;
}
.wrapper-2 {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
.msg textarea {
  height: 212px;
}
::-webkit-input-placeholder {
  color: #c5ecfd;
}
::-moz-input-placeholder {
  color: #c5ecfd;
}
::-ms-input-placeholder {
  color: #c5ecfd;
}
.btn {
  background: #3f3f3f;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #c5ecfd;
  cursor: pointer;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
} */

.logo {
  margin-left: 75px;
  margin-right: 75px;
}
